<div class = "contact-contents">
<div class ="contact-form">
  <h2>メッセージ送信完了</h2>
  <br>
  <p class ="contact-done">
    お問い合わせをありがとうございます。<br>
    ご質問の内容を確認しまして3営業日以内に<br>ご回答いたします。
  </p>
</div>
</div>