     <div class = "contact-contents">
   <div class ="contact-form">
  <h2>メッセージ送信完了</h2>
  <br>
  <p class ="contact-done">
    お問合わせありがとうございます。<br>
    ご質問の内容を確認しまして3営業日以内に<br>ご回答いたします。
  </p>
  </div>
      </div>

  <script src="assets/bubbly-bg.js"></script>
<script>bubbly({
  blur:1,
  colorStart: '#FFFFFF',
  colorStop: '#112144',
  radiusFunc:() => 5 + Math.random() * 20,
  angleFunc:() => -Math.PI / 2,
  velocityFunc:() => Math.random() * 5,
  bubbleFunc:() => `hsla(${200 + Math.random() * 50}, 100%, 65%, .1)`,
  bubbles:300
});</script>
