<div class = "about-main-visual"></div>
<h1 class="about-h1">ThinkFrogの特徴</h1>
<div id ="media-all">
<div class= "media">
	<div class ="about">
    <div class="media__image">
        <%= image_tag "about-image1.jpg"%>
    </div>
    <div class="media__summary">
        <h2 class="media__heading">様々な利用用途</h2>
        <p class="media__text">利用用途は様々！仕事の情報整理や学習の<br>予定管理や買い物のリストしても使えます！</p>
    </div>
</div>
</div>

<div class= "media">
	<div class ="about">
    <div class="media__image">
        <%= image_tag "about-image2.jpg"%>
    </div>
    <div class="media__summary">
        <h2 class="media__heading">直感的操作</h2>
        <p class="media__text">ドラッグ&ドロップで直感的な操作が可能!<br>
        誰でも簡単に使えます！</p>
    </div>
</div>
</div>

<div class= "media">
	<div class ="about">
    <div class="media__image">
        <%= image_tag "about-image3.jpg"%>
    </div>
    <div class="media__summary">
        <h2 class="media__heading">無料のバージョンアップ</h2>
        <p class="media__text">ThinkFrogの利用は全て無料!毎月の機能の<br>
		バージョンアップで最新の機能が利用できます。</p>
    </div>
</div>
</div>
</div>
