<div class = "main-visual">
	<div class ="main-visual-text">
	<%= link_to '無料登録する', new_user_registration_path,class:"btn btn-danger" %>
	</div>
</div>
 <div class ="main-contents">
 <h1 class= "heading-main-contents">例えばこのような用途でご利用いただけます</h1>
 <div class = "contents" id ="homes-top-js">
 	<section>
 		<div class="contents-pictures" >
 		<img src = "/assets/buisiness.jpg" >
 	</div>
 		<p>仕事のタスク整理や<br>1日のスケジュール管理</p>
</section>
	<section>
 		<div class="contents-pictures" >
 		<img src = "/assets/study.jpg" >
 	</div>
 		<p>学習のやる事整理や<br>学習スケジュールの管理</p>
</section>
	<section>
 		<div class="contents-pictures" >
 		<img src = "/assets/shopping.jpg" >
 	</div>
 		<p>お買い物時のメモ</p>
</section>
</div>
<div class ="qa">
<div class ="qa-contents">
<h1>Q&A</h1>
<div class="section s_02">

  <div class="accordion_one">
    <div class="accordion_header">ThinkFrogの利用は無料ですか？<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="box_one">
        <p class="txt_a_ac">はい、全て無料でご利用いただけます。
今後定期的なアップデートを予定しておりユーザー様にとって使いやすいタスク管理アプリを目指してまいります。
</p>
      </div>
    </div>
  </div>
  
  <div class="accordion_one">
    <div class="accordion_header">使い方を教えてください
<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="box_one">
        <p class="txt_a_ac">本アプリはタスク管理アプリです。
まずはリストを作成していただきリストに対してカードを追加する流れとなります。
ご不明な点ございましたらお問い合わせページからお気軽にご連絡ください。
</p>
      </div>
    </div>
  </div>
  
  <div class="accordion_one">
    <div class="accordion_header">今後有料になる予定はありますか？<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="box_one">
        <p class="txt_a_ac">現状予定はありませんが、今後の機能拡充において一部機能をご利用いただくにあたり
有料化を検討する可能性がありますが基本的には無料でご利用いただけます。</p>
      </div>
    </div>
  </div>











</div>
</div>
  </div>
