<div class = "main-visual">
	<div class ="main-visual-text">
	<%= link_to '無料で今すぐ使ってみる', new_user_registration_path,class: "btn btn-danger btn-lg" %>
	</div>
</div>
 <div class ="main-contents">
 <h1 class= "heading-main-contents">例えばこのような用途でご利用いただけます</h1>
 <div class = "contents">
 	<section>
 		<div class="contents-pictures" >
 		<img src = "/assets/buisiness.jpg" >
 	</div>
 		<p>仕事のタスク整理や<br>1日のスケジュール管理</p>
</section>
	<section>
 		<div class="contents-pictures" >
 		<img src = "/assets/study.jpg" >
 	</div>
 		<p>学習のやる事整理や<br>学習スケジュールの管理</p>
</section>
	<section>
 		<div class="contents-pictures" >
 		<img src = "/assets/shopping.jpg" >
 	</div>
 		<p>お買い物時のメモとして</p>
</section>
</div>
  </div>
