// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cards-contents{
width:100%;
height:800px;
background-color:rgba(0,128,0,0.8);
padding-top:30px;
}
.card-form{
  width:40%;
  height:700px;
  margin:0 auto;
  text-align: center;
  padding-top:250px;
  background-color:white;
  border-radius:20px;
}
.card-form-edit{
  width:40%;
  height:700px;
  margin:0 auto;
  text-align: center;
  padding-top:170px;
  background-color:white;
  border-radius:20px;
}
.card-form span{
font-size:50px;
font-weight:bold;
}
.card-form-edit span{
font-size:50px;
font-weight:bold;
}
.btn-card{
  width:500px;
  heigth:50px;
  font-size:30px;
  font-weight:bold;
}