// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cardnewPgae {
  .cardnewForm {
    max-width: 500px;
    margin: 70px auto 0;
    &_title {
      margin-bottom: 30px;
    }
  }
}

.carddetailPage {
  .cardContents {
    margin: 60px auto 0;
    max-width: 600px;
    &_title {
      h2 {
        font-size: 22px;
      }
    }
    &_title, &_memo, &_listStatus {
      border-bottom: 1px solid #ccc;
      margin-bottom: 30px;
    }
  }
}

.cardeditPgae {
  .cardeditForm {
    max-width: 500px;
    margin: 70px auto 0;
    &_title, &_memo {
      margin-bottom: 30px;
    }
    &_btnArea {
      margin-top: 40px;
      text-align: center;
      & > a {
        display: block;
        &.edit_btn {
          max-width: 200px;
          margin: 0 auto;
          background: #026aa7;
          padding: 7px;
          border-radius: 10px;
          color: #fff;
          transition: opacity .5s;
          text-decoration: none;
          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
}