// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .main-visual{
    height: 950px;
	width: 100%;
	background-image:url(top-image1.jpg);
	background-size:cover;
	background-position: center;
	}
	.main-visual-text{
	 text-align:center;
	 padding-top:350px;
	}
    .btn-danger{
    width:500px;
    height:70px;
    line-height:70px;
    }
	.main-contents{
	width:100%;
	}
	.heading-main-contents{
	text-align:center;
	padding-top:30px;
	padding-bottom:40px;
	color:#5cb7cc;
	font-size: 30px;
    font-weight: bold;
	}
	.contents{
	height:500px;
    width:1000px;
    margin:0 auto;
	}
	.contents section{
    height:500px;
    width:333px;
    float:left;
	}

	.contents-pictures img{
	width:300px;
	height:300px;
	border-radius:50%;
	}
	.contents p{

	text-align:center;
	font-weight:bold;
	font-size:23px;
	margin-top:20px;
	}