<ul>
<li class="header_list">
	<%= link_to 'リストを作成', homes_about_path,class: "btn btn-default" %>
</li>

<li class="header_list">
　  <%= link_to '予定管理', new_user_registration_path,class: "btn btn-default" %>
</li>

<li class="header_list">
    <%= link_to 'マイページ', new_user_session_path,class: "btn btn-default" %>
</li>

<li class="header_list">
    <%= link_to "ログアウト", destroy_user_session_path ,class: "btn btn-default" %>
</li>
</ul>