<ul>
<li class="header_list">
	<%= link_to 'About', homes_about_path,class: "btn btn-default" %>
</li>

<li class="header_list">
    <%= link_to '無料登録', new_user_registration_path,class: "btn btn-default" %>
</li>

<li class="header_list">
    <%= link_to 'ログイン', new_user_session_path,class: "btn btn-default" %>
</li>

<li class="header_list">
    <%= link_to "お問い合わせ", homes_about_path ,class: "btn btn-default" %>
</li>
</ul>


